#box {
	background-color: lightblue;
	color: purple;
	height: 300px;
	width: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
